.header {
  padding-bottom: 15px;
}

.book {
  align-self: center;
  margin-bottom: 50px;
  margin-left: 30%;
  font-size: 60px;

}

.image {
  margin-left: 37%;
}

.btn btn-default {
  margin-left: 37%;
}


